{% extends 'main/base.html' %}
{% load static %}

{% block extra_head %}
    <script src="{% static 'companies/js/company_list.js' %}" defer></script>
    <link rel="stylesheet" href="{% static 'companies/style.css' %}">
{% endblock %}

{% block content %}

    <div class="bg-primary">
        <div class="container col-xl-10 col-xxl-8 px-4 py-3">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 mb-3 text-light">Profili kompanija</h1>
                    <p class="col-lg-10 fs-4 text-light">Gledaj ocene, čitaj iskustva kupaca i donesi informisanu odluku</p>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="col-xl-8 col-xxl-8 col-md-10 mx-auto col-lg-8 pb-5">
                {% include 'main/search_form.html' %}
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="border-start border-5 border-warning px-3 mb-5">
            <span class="align-self-center">
                <p class="m-0 lead">Ukupan broj kompanija na sajtu: {{ company_list|length }}</p>
            </span>
            <a class="text-decoration-none text-info" href="{% url 'company_create' %}">Dodaj kompaniju</a>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 gap-4 mb-3">
            <select id="categorySelect" class="form-select" aria-label="Select category">
                <option value="0" selected>Izaberite kategoriju</option>
                {% for category in categories %}
                    <option value="{{ category.id }}">{{ category }}</option>
                {% endfor %}
            </select>
        </div>

        <div id="output" class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-4">

        </div>
    </div>
{% endblock content %}
{% block extra_body %}
    <div class="loader"></div>
{% endblock %}


