{% extends 'main/base.html' %}

{% block head_title %}{{ company.name }} {% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-xl-8 col-xxl-8 mt-lg-5 py-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title fs-1">{{ company.name }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        <a class="text-decoration-none text-muted" href="{{ company.website_url}}">
                            {{ company.domain_name }}
                        </a>
                    </h6>
                    <div class="d-flex gap-2">
                        {% for category in company.category.all %}
                            <span class="badge bg-success">{{ category }}</span>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="mt-3">
                        <span class="fs-3 fw-bold">
                            <i class="bi bi-star-fill text-warning fs-3"></i>
                            {% firstof company.average_rating '0' %}
                        </span>
                        <span class="text-muted fs-3">/ 5</span>
                    </div>
                    <div class="mt-1">
                        <span class="fs-3 fw-bold">
                            <i class="bi bi-clipboard-check-fill fs-3"></i>
                            {{ company.reviews.all|length }} 
                            <span class="text-muted fw-normal"> recenzije</span>
                        </span>
                    </div>
                    {% if company.description %}
                        <div class="bg-light mt-3 p-3">
                            <p class="card-text">{{ company.description }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% include 'companies/company_sidebar.html' %}
        <div class="col-lg-8 col-xl-8 col-xxl-8 mt-3 mt-lg-0 mb-5">
            <div class="d-flex justify-content-between">
                <h1 class="m-0 fs-3">Recenzije korisnika</h1>
                <span class="align-self-center">
                    <a class="text-decoration-none text-info" href="{% url 'company_review_create' company.id %}">Podeli iskustvo</a>
                </span>
            </div>
            <hr>
            {% for review in reviews %}
                {% include 'main/review_detail_card.html' %}
            {% empty %}
                <div class="border-start border-5 border-warning px-3">
                    <span class="align-self-center">
                        <p class="m-0 lead">Trenutno nema dostupnih recenzija za ovu kompaniju.</p>
                    </span>
                    <a class="text-decoration-none text-info" href="{% url 'company_review_create' company.id %}">Podelite vaše iskustvo</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}