<div class="col-lg-4 col-xl-4 col-xxl-4 mt-lg-5 py-0 py-lg-3 mb-2">
    <div class="card">
        <div class="card-body">
            <div class="">
                <h3 class="fs-5">Načini plaćanja:</h3>
                <span class="badge bg-success">Kartica</span>
                <span class="badge bg-success">Pouzećem</span>
                <span class="badge bg-success">Web kredit</span>
            </div>
            <div class="mt-2">
                <h3 class="fs-5">Rok isporuke:</h3>
                <span class="badge bg-success">3 - 5 radnih dana</span>
            </div>
            <hr>
            <div class="mt-2 d-flex justify-content-between">
                <span class="align-self-center">
                    <h3 class="m-0 fs-6">Tačnost informacija:</h3>
                </span>
                <span class="fs-6">5/5</span>
            </div>
            <div class="mt-2 d-flex justify-content-between">
                <span class="align-self-center">
                    <h3 class="m-0 fs-6">Korisnička podrška:</h3>
                </span>
                <span class="fs-6">5/5</span>
            </div>
            <div class="mt-2 d-flex justify-content-between">
                <span class="align-self-center">
                    <h3 class="m-0 fs-6">Rok isporuke:</h3>
                </span>
                <span class="fs-6">3/5</span>
            </div>
            <div class="mt-2 d-flex justify-content-between">
                <span class="align-self-center">
                    <h3 class="m-0 fs-6">Cena:</h3>
                </span>
                <span class="fs-6">3/5</span>
            </div>
            <div class="mt-2 d-flex justify-content-between">
                <span class="align-self-center">
                    <h3 class="m-0 fs-6">Načini plaćanja:</h3>
                </span>
                <span class="fs-6">3/5</span>
            </div>
            <hr>
        </div>
    </div>
</div>