{% load static %}

{% block extra_head %}
    <script src="{% static 'companies/js/company_list.js' %}" defer></script>
{% endblock %}

<div class="col-12 col-sm-12 col-md-6 col-lg-4 gap-4 mb-3">
    <select id="categorySelect" class="form-select" aria-label="Select category">
        <option selected>Izaberite kategoriju</option>
        {% for category in categories %}
            <option value="{{ category.id }}">{{ category }}</option>
        {% endfor %}
    </select>
</div>
<div id="output" class="row row-cols-1 row-cols-md-1 row-cols-lg-3 g-4">

</div>
