<div class="col-lg-4 col-xl-4 col-xxl-4 mt-lg-5 py-0 py-lg-3 mb-2">
    <div class="card">
        <div class="card-body">
            <div class="">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="fs-5 m-0">Načini plaćanja:</h3>
                    <span class="align-self-center">
                        <a href="{% url 'company_add_payment_options' company.id company.slug %}">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </span>
                </div>
                {% for option in company.payment_options.all %}
                    <span class="badge bg-success">{{ option }}</span>
                {% empty %}
                    <span class="mt-2 text-muted">Nemamo informacije o načinima plaćanja</span>
                {% endfor %}
            </div>
            <div class="mt-2">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="fs-5 m-0">Rok Isporuke:</h3>
                    <span class="align-self-center">
                        <a href="{% url 'company_add_delivery_time' company.id company.slug %}">
                            <i class="bi bi-pencil-fill"></i>
                        </a>
                    </span>
                </div>
                <span class="mt-2 badge bg-success">{% firstof company.delivery_time 'Nemamo informacije o roku isporuke'%}</span>
            </div>
            <hr>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <i class="bi bi-geo-alt-fill text-danger"></i>
                </span>
                {% if company.address %}
                    <span>{{ company.address }}</span>
                {% else %}
                    <span>
                        <a href="{% url 'company_add_address' company.id company.slug %}" class="text-decoration-none">
                            Dodaj adresu
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <i class="bi bi-telephone text-danger"></i>
                </span>
                {% if company.phone_number %}
                    <span>{{ company.phone_number }}</span>
                {% else %}
                    <span>
                        <a href="{% url 'company_add_phone_number' company.id company.slug %}" class="text-decoration-none">
                            Dodaj broj telefona
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <i class="bi bi-envelope-paper text-danger"></i>
                </span>
                {% if company.email_address %}
                    <span>{{ company.email_address }}</span>
                {% else %}
                    <span>
                        <a href="{% url 'company_add_email_address' company.id company.slug %}" class="text-decoration-none">
                            Dodaj E-adresu
                        </a>
                    </span>
                {% endif %}
            </div>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <i class="bi bi-box-arrow-up-right text-danger"></i>
                </span>
                {% if company.social_media_link %}
                    <span>
                        <a href="{{ company.social_media_link }}" class="text-decoration-none">Zaprati nas!</a>
                    </span>
                {% else %}
                    <span>
                        <a href="{% url 'company_add_social_media' company.id company.slug %}" class="text-decoration-none">Dodaj društvenu mrežu</a>
                    </span>
                {% endif %}
            </div>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <i class="bi bi-pencil-fill text-danger"></i>
                </span>
                <a href="{% url 'company_update' company.id company.slug %}" class="text-decoration-none">Izmeni informacije</a>
            </div>
        </div>
    </div>
</div>

