
{% for company in company_list %}
    <div class="col mb-3">
        <div class="card shadow h-100">
            <div class="card-body">
                <p class="card-text text-center"><i class="bi bi-cart4 fs-1"></i></p>
                <h5 class="card-title text-center">
                    <a class="text-decoration-none" href="{% url 'company_detail' company.id company.slug %}">
                        {{ company.name }}
                    </a>
                </h5>
                <div class="d-flex flex-wrap justify-content-center mb-3 gap-2">
                    {% for category in company.category.all %}
                        <span class="badge bg-success">{{ category }}</span>
                    {% endfor %}
                </div>
                <div class="d-flex justify-content-center mt-3">
                    <a href="{% url 'company_review_create' company.id %}" class="text-decoration-none text-info">Podeli svoje iskustvo</a>
                </div>
            </div>
            <div class="card-footer">
                <div class="d-flex justify-content-around">
                    <div>
                        <i class="bi bi-star-fill text-warning"></i>
                        {% firstof company.average_rating '0' %}
                    </div> 
                    <a href="{% url 'company_detail' company.id company.slug %}" class="text-decoration-none">
                        <i class="bi bi-clipboard-check-fill"></i>
                        {{ company.reviews.all|length }}
                    </a> 
                    <div>
                        <a href="{{ company.website_url }}"><i class="bi bi-link-45deg"></i></a>
                    </div> 
                </div>
            </div>
        </div>
    </div> 
{% endfor %}


