<div class="col-lg-4 col-xl-4 col-xxl-4 mt-lg-5 py-0 py-lg-3 mb-2">
    <div class="card">
        <div class="card-body">
            <div class="">
                <h3 class="fs-5">Načini plaćanja:</h3>
                {% for option in company.payment_options.all %}
                    <span class="badge bg-success">{{ option }}</span>
                {% empty %}
                    <span class="text-muted">Nemamo informacije o načinima plaćanja</span>
                {% endfor %}
            </div>
            <div class="mt-2">
                <h3 class="fs-5">Rok isporuke:</h3>
                <span class="badge bg-success">{% firstof company.delivery_time 'Nemamo informacije o roku isporuke'%}</span>
            </div>
            <hr>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <i class="bi bi-geo-alt-fill text-danger"></i>
                </span>
                <span>{% firstof company.address 'Nepoznato' %}</span>
            </div>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <i class="bi bi-telephone text-danger"></i>
                </span>
                <span>{{ company.phone_number }}</span>
            </div>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <i class="bi bi-envelope-paper text-danger"></i>
                </span>
                <span>{{ company.email_address }}</span>
            </div>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <a href="{{ company.social_media_link }}" class="text-decoration-none">
                        <i class="bi bi-instagram text-danger"></i>
                    </a>
                </span>
                <span><a href="#" class="text-decoration-none">Zaprati nas!</a></span>
            </div>
            <div class="mt-2 d-flex gap-2">
                <span class="align-self-center">
                    <i class="bi bi-pencil-fill text-danger"></i>
                </span>
                <a href="{% url 'company_update' company.id company.slug %}" class="text-decoration-none">Izmeni informacije</a>
            </div>
        </div>
    </div>
</div>

