{% extends "account/base.html" %}
{% load i18n %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

    {% if process == "connect" %}
        <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
        <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
    {% else %}

        <div class="my-3 text-center">
            <h1 class="card-title">Prijava pomoću Google naloga</h1>
            <p class="card-text text-muted">Prijavićete se koristeći Google nalog</p>
        </div>
    {% endif %}
    <div class="text-center">
        <form method="post">
            {% csrf_token %}
            <button class="btn mb-3 btn-primary w-100" type="submit">Nastavi</button>
        </form>
    </div>
{% endblock %}
