<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>
    {% load socialaccount %}
    {% if request.user.is_authenticated %}
        <p>Signed in as {{ request.user.get_full_name }}</p>
        <p>
            {{ request.user.email }}
        </p>
        <a href="logout">Log out</a>
    {% else %}
        <a href="{% provider_login_url 'google'%}">Login with Google</a>
    {% endif %}
</body>
</html>