{% extends 'main/base.html' %}
{% block content %}
    <div class="bg-white">
        <div class="container col-xl-10 col-xxl-8 px-4 py-5">
            <div class="row align-items-center g-lg-5 py-5">
                <div class="col-lg-7 text-center text-lg-start">
                    <h1 class="display-4 fw-bold lh-1 mb-3 text-dark">
                        Pišite nam!
                    </h1>
                    <p class="col-lg-10 fs-4 text-dark">
                        Imate pitanja o recenzijama? Želite da saznate više o sajtu? Imate neki predlog za poboljšanje? Pišite nam!
                    </p>
                    <p class="col-lg-10 fs-4 text-dark">
                        Uvek smo spremni da odgovorimo na pitanja i saslušamo vaše komentare i sugestije. 
                        Naš cilj je da vam pomognemo da napravite najbolji izbor i imate pozitivno iskustvo pri kupovini online.
                        Zato želimo da čujemo vaše mišljenje.
                    </p>
                    <p class="col-lg-10 fs-4 text-dark">
                        Vaše povratne informacije nam pomažu da poboljšamo sajt i osiguramo da ispunjava vaša očekivanja i potrebe.
                    </p>
                    <p class="col-lg-10 fs-4 text-dark">
                        Radujemo se vašim porukama! Hvala što ste nas posetili i srećna kupovina!
                    </p>
                </div>
                <div class="col-md-10 mx-auto mt-5 col-lg-5">
                    {% include 'main/contact_form.html' %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

