{% extends 'main/base.html' %}

{% block content %}
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center justify-content-center py-5">
            <div class="col-lg-7 text-center">
                <span class="display-1 fw-bold lh-1 mb-3">
                    <i class="bi bi-check2-circle text-success"></i>
                </span>
                <h1 class="display-4 fw-bold lh-1 my-5">Hvala Vam!</h1>
                <p class="fs-4 text-primary">Uspešno ste poslali poruku!</p>
                <p class="fs-5 text-muted">Kontaktiraćemo vas u najkraćem mogućem roku.</p>
                <div class="d-flex flex-column  flex-md-row justify-content-between gap-2">
                    <a href="{% url 'index' %}" class="mt-3 btn btn-primary w-100">Nazad na početnu</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}