<div class="bg-primary">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
        <div class="row align-items-center g-lg-5 py-5">
            <div class="col-lg-7 text-center text-lg-start">
                <h1 class="display-4 fw-bold lh-1 mb-3 text-light">Vertically centered hero sign-up form</h1>
                <p class="col-lg-10 fs-4 text-light">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi minus officiis quae possimus, nisi dolores.</p>
                <form class="d-flex flex-column flex-lg-row">
                    <input class="form-control me-sm-2" type="search" placeholder="Pretraga">
                    <button class="btn btn-outline-light mt-2 mt-lg-0" type="submit">Pretraži</button>
                </form>   
            </div>
            <div class="col-md-10 mx-auto mt-5 col-lg-5">
                {% include 'main/review_form_card.html' %}
            </div>
        </div>
    </div>
</div>

