{% load crispy_forms_tags %}

<form id="reviewForm" class="p-4 p-md-5 border shadow rounded-3 bg-light" action="{% url 'review_create' %}" method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-flex justify-content-center gap-2">
        <button type="submit" class="w-100 btn btn-primary">Dodaj</button>
        <button id="cancel" class="w-100 btn btn-danger">Otkaži</button>
    </div>
</form>

<script>
    let company = document.getElementById('id_company');
    let form = document.getElementById('reviewForm');
    let cancelBtn = document.getElementById('cancel');
    
    /* Disable cancel button on the index page */
    if (window.location.pathname === '/') {
        cancelBtn.disabled = true; 
    }

    form.addEventListener('submit', () => {
        company.removeAttribute('disabled');
    })

    cancelBtn.addEventListener('click', () => {
        history.back()
    })
</script>