<div class="card 
            border border-top-0 border-bottom-0 border-{{ review.rating_style }} border-4 
            shadow-sm mb-3">
    <div class="card-header d-flex justify-content-between align-items-end">
        <h5 class="m-0">{{ review.title }}</h5>
        <div>
            <span class="fw-bold">
                <i class="bi bi-star-fill text-warning"></i>
                {{ review.rating }}
                <span class="text-muted">/ 5</span>
            </span>
        </div>
    </div>
    <div class="card-body p-4">
        <p class="card-text">{{ review.body }}</p>
    </div>
    <div class="card-footer bg-light">
        <p class="card-text">Dodao: {{ review.author }}</p>
    </div>
</div>